.preloader4 {
    display: inline-block;
}

.preloader4 span {
    border-radius: 100%;
    background: #000;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px 2px;
    animation: preloader4 0.8s linear infinite alternate;
}

.preloader4 span:nth-child(1) {
    animation-delay: -0.8s;
}

.preloader4 span:nth-child(2) {
    animation-delay: -0.5333s;
}

.preloader4 span:nth-child(3) {
    animation-delay: -0.2666s;
}

@keyframes preloader4 {
    to {
        transform: scale(0, 0);
    }
    from {
        transform: scale(1, 1);
    }
}
